#jinja2: lstrip_blocks: True
!
!alias a2 show version
!
no aaa root
!
username kaon privilege 15 role network-admin secret sha512 {{ kaon_pw_enc_6key }}
username cvaas privilege 15 role network-admin secret sha512 {{ cvaas_pw_enc_6key }}
!
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.arista.io:443 -cvcompression=gzip -taillogs -cvauth=token-secure,/tmp/cv-onboarding-token -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -cvvrf MGMT
   no shutdown
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
!
vrf instance MGMT
!
{% for item in hostvars[inventory_hostname]['config_context'][0]['name-servers'] %}
ip name-server vrf MGMT {{ item }}
{% endfor %}
!
!
!
!
!
!
{% if "dc-prod" in hostvars[inventory_hostname]['device_roles']%}
!
queue-monitor length
queue-monitor streaming
   no shutdown
!
sflow sample 16384
sflow destination 127.0.0.1
sflow source-interface Management1
sflow run
!
ip route vrf MGMT 0.0.0.0/0 10.1.1.1
!
interface Management1
   description mgt-switch-port-1
   vrf MGMT
   ip address {{ primary_ip4 }}/24
!
!
!
!
!
!
{% else %}
!
sflow sample 16384
sflow destination 127.0.0.1
sflow source-interface Management0
sflow run
!
ip route vrf MGMT 0.0.0.0/0 172.100.100.1
!
interface Management0
   description oob_mgmt
   vrf MGMT
   ip address {{ primary_ip4 }}/24
!
{%endif%}
!
!
!
!
!
!
spanning-tree mode mstp
no spanning-tree vlan-id 4094
spanning-tree mst 0 priority 16384
!
vlan 110
   name dc-vlan
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
tacacs-server host {{ hostvars[inventory_hostname]['config_context'][0]['tacplus-servers'][0] }} vrf MGMT key 7 {{ tacplus_key1 }}
tacacs-server host {{ hostvars[inventory_hostname]['config_context'][0]['tacplus-servers'][1] }} vrf MGMT key 7 {{ tacplus_key2 }}
!
aaa authentication login default local group tacacs+
aaa authentication login console local
aaa authorization exec default local group tacacs+
aaa authorization commands all default local group tacacs+
!
interface Port-Channel971
   description SPINES_po501
   switchport trunk allowed vlan 110
   switchport mode trunk
   mlag 971
!
interface Ethernet3
   description linux_client01_eth1
   switchport access vlan 110
!
interface Ethernet49/1
   description core02-eth27
   channel-group 971 mode active
!
interface Ethernet52/1
   description core02-eth27
   channel-group 971 mode active
!
interface Ethernet53/1
   description access02-eth53
   shutdown
!
interface Ethernet54/1
   description access02-eth54
   shutdown
!
interface Loopback0
   description Router_ID
   ip address 172.16.1.12/32
!
interface Vlan110
   ip address 10.1.1.12/24
!
no ip routing
no ip routing vrf MGMT
!
{% for item in hostvars[inventory_hostname]['config_context'][0]['ntp-servers'] %}
ntp server vrf MGMT {{ item }}
{% endfor %}
!
end
