#jinja2: lstrip_blocks: True
!
!alias a2 show version
!
no aaa root
!
username kaon privilege 15 role network-admin secret sha512 {{ kaon_pw_enc_6key }}
username cvaas privilege 15 role network-admin secret sha512 {{ cvaas_pw_enc_6key }}
!
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.arista.io:443 -cvcompression=gzip -taillogs -cvauth=token-secure,/tmp/cv-onboarding-token -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -cvvrf MGMT
   no shutdown
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
!
vrf instance MGMT
!
{% for item in hostvars[inventory_hostname]['config_context'][0]['name-servers'] %}
ip name-server vrf MGMT {{ item }}
{% endfor %}
!
!
!
!
!
!
{% if "dc-prod" in hostvars[inventory_hostname]['device_roles']%}
!
queue-monitor length
queue-monitor streaming
   no shutdown
!
sflow sample 16384
sflow destination 127.0.0.1
sflow source-interface Management1
sflow run
!
ip route vrf MGMT 0.0.0.0/0 10.1.1.1
!
interface Management1
   description oob_mgmt
   vrf MGMT
   ip address {{ primary_ip4 }}/24
!
!
!
!
!
!
{% else %}
!
sflow sample 16384
sflow destination 127.0.0.1
sflow source-interface Management0
sflow run
!
ip route vrf MGMT 0.0.0.0/0 172.100.100.1
!
interface Management0
   description oob_mgmt
   vrf MGMT
   ip address {{ primary_ip4 }}/24
!
{%endif%}
!
!
!
!
!
!
spanning-tree mode mstp
no spanning-tree vlan-id 4093-4094
spanning-tree mst 0 priority 4096
!
vlan 110
   name dc-data
!
vlan 4094
   name MLAG_PEER
   trunk group MLAG
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
tacacs-server host {{ hostvars[inventory_hostname]['config_context'][0]['tacplus-servers'][0] }} vrf MGMT key 7 {{ tacplus_key1 }}
tacacs-server host {{ hostvars[inventory_hostname]['config_context'][0]['tacplus-servers'][1] }} vrf MGMT key 7 {{ tacplus_key2 }}
!
aaa authentication login default local group tacacs+
aaa authentication login console local
aaa authorization exec default local group tacacs+
aaa authorization commands all default local group tacacs+
!
interface Port-Channel501
   description ACCESS01_AGG_Po971
   switchport trunk allowed vlan 110
   switchport mode trunk
   mlag 501
!
interface Port-Channel502
   description ACCESS02_AGG_Po972
   switchport trunk allowed vlan 110
   switchport mode trunk
   mlag 502
!
interface Port-Channel503
   description SERVER01_AGG_LINUX
   switchport access vlan 110
   mlag 503
!
interface Port-Channel504
   description SERVER04_AGG_LINUX
   switchport access vlan 110
   mlag 504
!
interface Port-Channel551
   description MLAG_PEER_SPINE1_Po551
   switchport mode trunk
   switchport trunk group MLAG
!
interface Ethernet23/1
   description MLAG_PEER_SPINE1_ETHERNET1
   channel-group 551 mode active
!
interface Ethernet24/1
   description MLAG_PEER_SPINE1_ETHERNET2
   channel-group 551 mode active
!
interface Ethernet25/1
   description server-1-port01
   channel-group 503 mode active
!
interface Ethernet26/1
   description server-2-port01
   channel-group 504 mode active
!
interface Ethernet27/1
   description access01-eth49-1
   channel-group 501 mode active
!
interface Ethernet28/1
   description access02-eth49-1
   channel-group 502 mode active
!
interface Loopback0
   description Router_ID
   ip address 172.16.1.11/32
!
interface Vlan110
   ip address 10.1.1.11/24
!
interface Vlan4094
   description MLAG_PEER
   no autostate
   ip address 192.168.0.1/31
!
no ip routing
no ip routing vrf MGMT
!
mlag configuration
   domain-id SPINES
   local-interface Vlan4094
   peer-address 192.168.0.0
   peer-link Port-Channel551
   reload-delay mlag 300
   reload-delay non-mlag 330
!
{% for item in hostvars[inventory_hostname]['config_context'][0]['ntp-servers'] %}
ntp server vrf MGMT {{ item }}
{% endfor %}
!
end
